doctype html
html(lang="es")
  head
    title API How To
    link(rel='stylesheet', href='/styles/styles.css')
  body
    h2= titulo
    h3= aviso
    p=howto
    table
        th="Operation"
        th="API endpoint"
        each ruta in rutas
            tr 
                each val in ruta
                    td= val
</body>
</html>
